@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:250px;
}
#book{
    height: 100px;
}
#book:hover{
    transform: scale(1.05);
    cursor:pointer;
    transition: 500ms ease;
}
#book:active{
    color: white;
    filter: brightness(1.5);
    transform: translate(0,5px);
}
#bookHolder{
    gap:30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,100%);
}
#powerUpImg{
    height:50px;
}
#powerUpCard{
    display: flex;
    flex-direction: row;
}
#powerUpDesc{
    display: flex;
    flex-direction: column;

}